.workspaces-container {
    padding: 20px;
}

.workspaces li {
    list-style: none;
    float: left;
    width: 180px;
    height: 140px;
    position: relative;
    margin-bottom: 20px;
}


.workspaces li a {
    cursor: pointer;
}

.workspaces li a:hover {
    box-shadow: 2px 2px 2px 4px #aaa;
    -moz-box-shadow: 2px 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 2px 4px #aaa;
}

.workspaces li .workspace {
    display: block;
    width: 180px;
    height: 140px;
    position: relative;
}


.workspaces li .workspace .label {
    font-size: 18px;
    width: 180px;
    height: 30px;
    display: block;
    line-height: 30px;
    margin-left: 0px;
}

.workspaces li .workspace .view {
    display: block;
    border: 1px solid #999;
    width: 180px;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.workspaces li .add-workspace {
    width: 180px;
    height: 100px;
    font-size: 20px;
    border: 1px solid #d0d0d0;
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 100px;
}
