#workspace-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0;
}

/**** Tools ****/
.workspace-tools {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    position:relative;
}

.workspace-tools .tool {
    margin: 0 auto;
}

.workspace-tools .tool.trash {
    bottom: 0;
    margin-top: 290px;
    width: 80px;
    height: 120px;
    position: relative;
}
.workspace-tools .tool.trash.dropping .body {
    background-color: #999;
}
.workspace-tools .tool.trash.dropping .lid {
    background-color: #aaa;
}

.workspace-tools .tool.trash .body {
    width: 72px;
    margin: 0 auto;
    height: 100px;
    background-color: #bbb;
    -moz-box-shadow: 2px 5px 5px #888;
    -webkit-box-shadow: 2px 5px 5px #888;
    box-shadow: 2px 5px 5px #888;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
}
.workspace-tools .tool.trash .lid {
    top: 0;
    margin: 0 auto;
    width: 80px;
    height: 20px;
    background-color: #ccc;
    z-index: 20;
    -moz-box-shadow: 2px 5px 4px #888;
    -webkit-box-shadow: 2px 5px 4px #888;
    box-shadow: px 2px 5px #888;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.workspace-tools .tool.post {
    width: 140px;
    height: 140px;
}

.post .content {
    width: 140px;
    height: 140px;
    background-color: #FFFB7D;
    -moz-box-shadow: 2px 5px 5px #888;
    -webkit-box-shadow: 2px 5px 5px #888;
    box-shadow: 2px 5px 5px #888;
}


.ui-draggable-dragging {
    -moz-box-shadow: 5px 8px 5px #888;
    -webkit-box-shadow: 5px 8px 5px #888;
    box-shadow: 5px 8px 5px #888;
}


/**** Content ****/
.workspace-content {
    float: left;
    height: 100%;
    width: 700px;
    background-color: #E0CAA4;
    margin-left: 20px;
    position: relative;
}

.workspace-content.dropping {
    -moz-box-shadow: inset 0px 0px 0px 4px #FFC547;
    -webkit-box-shadow: inset 0px 0px 0px 4px #FFC547;
    box-shadow: inset 0px 0px 0px 4px #FFC547;
}

.workspace-content .content {
    position: relative;
}

.workspace-content .post .content .char-count {
    width: 140px;
    height: 15px;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 12px;
    color: #888;

}
.workspace-content .post .content .display {
    width: 130px;
    height: 120px;
    position: absolute;
    top: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    margin: 5px;
    color: #222;
}

.workspace-content .post .content .display .temp {
    background-color: transparent;
    width: 100%;
    height: 120px;
    font-family: inherit;
    font-size: 12px;
    border: none;
}

/***** Item Toolbar options *****/
.workspace-content .item .options {
    padding: 8px;
    margin: auto;
    height: 30px;
    background-color: #333;
    display: none;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    clear: left;
}

.workspace-content .item .options li {
    list-style: none; 
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
    text-align: center;
}
.workspace-content .item .options li .option-icon {
    margin-right: 2px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #eee;
    color: #333;
    margin: auto;

}
.workspace-content .item .options li .option-text {
    font-size: 10px;
    color: #fff;
    margin: auto;
    width: 30px;
}

.clear {
    clear: both;
}
