#workspace-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0;
}

/**** Tools ****/
.workspace-tools {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    position:relative;
}

.workspace-tools .tool {
    margin: 0 auto;
}

.workspace-tools .tool.trash {
    bottom: 0;
    margin-top: 290px;
    width: 80px;
    height: 120px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    position: relative;
}
.workspace-tools .tool.trash.dropping .body {
    background-color: #999;
}
.workspace-tools .tool.trash.dropping .lid {
    background-color: #aaa;
}

.workspace-tools .tool.trash .body {
    width: 72px;
    margin: 0 auto;
    height: 100px;
    background-color: #bbb;
    -moz-box-shadow: 2px 5px 5px #888;
    -webkit-box-shadow: 2px 5px 5px #888;
    box-shadow: 2px 5px 5px #888;
}
.workspace-tools .tool.trash .lid {
    top: 0;
    margin: 0 auto;
    width: 80px;
    height: 20px;
    background-color: #ccc;
    z-index: 20;
    -moz-box-shadow: 2px 5px 4px #888;
    -webkit-box-shadow: 2px 5px 4px #888;
    box-shadow: px 2px 5px #888;
}

.post {
    width: 140px;
    height: 140px;
    background-color: #FFFB7D;
    -moz-box-shadow: 2px 5px 5px #888;
    -webkit-box-shadow: 2px 5px 5px #888;
    box-shadow: 2px 5px 5px #888;
}

.ui-draggable-dragging {
    -moz-box-shadow: 5px 8px 5px #888;
    -webkit-box-shadow: 5px 8px 5px #888;
    box-shadow: 5px 8px 5px #888;
}


/**** Content ****/
.workspace-content {
    float: left;
    height: 100%;
    width: 700px;
    background-color: #E0CAA4;
    margin-left: 20px;
    position: relative;
}

.workspace-content.dropping {
    -moz-box-shadow: inset 0px 0px 0px 4px #FFC547;
    -webkit-box-shadow: inset 0px 0px 0px 4px #FFC547;
    box-shadow: inset 0px 0px 0px 4px #FFC547;
}

.workspace-content .item { 
}

.clear {
    clear: both;
}
