* {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    color: #444;
    font-family:'lucida grande',Verdana,Helvetica,Arial,sans-serif;
    font-size: 90%;
    margin: 0;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    text-decoration: none;
    color: #444;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}
h1 {
    font-size: 250%;
}
h2 {
    font-size: 190%;
}
ul, li {
    margin: 0 12px;
    list-style:none;
}
p {
    margin: 0 0 1em 0;
}

/** Layout **/
#container {
    background: #fff;
    text-align: left;
    width: 960px;
    margin: 40px auto;
    padding: 30px 20px;
}
#header h1 {
    float: left;
    line-height: 20px;
    color: #263138;
    background: #dbc297;
}
#header h1 a {
    display: block;
    color: #263128;
    background: #fff;
    padding: 10px;
}
#header h1 a:hover {
    color: #fff;
    background: #263128;
}

#header-link-bar {
    float: right;
}

#content {
    padding: 20px;
    clear: both;
}

#footer {
    clear: both;
    padding: 6px 10px;
}
